{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    
    <div class="container">
        <div class="row mt-3">
            <div class="col-12 col-md-6 order-2 order-md-1">
                <div class="d-flex flex-column gap-2 h-100 justify-content-center align-items-start">
                    <h2 class="display-1">Welcome<br>to Blogs Website<span class="material-symbols-outlined">favorite</span></h2>
                    <p>A blog website is a site that is updated with new information on an ongoing basis and normally consists of a collection of posts.</p>
                </div>
            </div>
            <div class="col order-1 order-md-2 ">
                <img class="w-100 rounded-5" src="{% static 'images/blog.jpg' %}" />
            </div>
        </div>

    </div>

{% endblock %}