{% extends 'main/base.html' %}
{% load static %}
{% block title %}Blog detail{% endblock %}
{% block content %}
<section class="container my-4">
    <h1 class="text-center">Read detail blog</h1>
    <div class="row my-4">
        <div class="col-4">
        <div class="d-flex flex-column gap-2 p-3 read mb-3 mx-3">
        <h2>Title: {{ blog.title }}</h2>
        <h4>Content: {{ blog.content }}</h4>
        <h4>is published: {{ blog.is_published }}</h4>
        <h4>published at: {{ blog.published_at }}</h4>
        </div>
        </div>
    </div>
</section>
{% endblock %}