{% extends 'home/base.html' %}
{% block title %}
Registraction
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <H1>Registraction:</H1>
        <div class="col-8 ms-2">
            <form action="{% url 'users:create_user_view' %}" method="POST">
                {% csrf_token%}
                <label>Username:</label>
                <input type="text" class="form-control" name="user_name">

                <label>First name:</label>
                <input type="text" name="first_name" class="form-control">

                <label>Last name:</label>
                <input type="text" name="last_name" class="form-control">

                <label>Email:</label>
                <input type="text" name="email" class="form-control">

                <label>Password:</label>
                <input type="text" name="password" class="form-control">

                <input type="submit" class="form-control btn btn-primary mt-2">
            </form>
        </div>
    </div>
</div>

{% endblock %}