{% extends 'main/base.html' %}


{% block title %} Update {{ info.name }}{% endblock %}


{% block content %}
    <div class="container mt-5"> 

        <div class="row">
            <h2>Update {{info.name}}:</h2>
            <div class="col">

                <form action="{% url 'info:update_info_view' info.id %}" method="POST">

                    {% csrf_token %}
                <label>Title:</label>
                <input class="form-control" type="text" name="title" placeholder="Title" value="{{info.title}}" />

                <label>Contant:</label>
                <textarea class="form-control" name="contant">{{info.contant}}</textarea>



                <label>Contant Release Date:</label>
                <input class="form-control" name="published_at" type="date" value="{{info.published_at|date:'Y-m-d' }}" />

                <input class="btn btn-primary mt-2" type="submit" value="Update Movie" />
            

                </form>

            </div>
        </div>

    </div>
{% endblock %}