{% extends 'main/base.html' %}

{% block title %} Display Posts Blog {% endblock %}

{% block content %}

<section class="container">

    <h1>All Posts</h1>

    <div class="row">

        {% for post in posts %}
            <div class="col-4">
                <div class="card mb-3 d-flex flex-column gap-2 p-3 border border-1 rounded-4 shadow">
                    <div class="card-body">
                       <a href="{% url 'post:post_detail_view' post.id %}"> <h2 class="card-title">{{ post.title }} {{post.id}}</h2></a>
                        <p class="card-text">{{ post.content }}</p>
                        <p class="card-text">Published on: {{ post.date_posted }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

</section>

{% endblock %}
