{% extends 'main/base.html' %}
{% load static %}

{% block title %} {{ blog.title }} {% endblock %}

{% block content %}

<div class="box-1 m-5 p-5">
    <div class="row">
        <h1 class="display-1 text-center mb-5"> Title: {{ blog.title }}</h1>
        <div class="col-12 d-flex justify-content-center align-items-center">
    
        </div>
        <div class="col-12 text-center">
            <p class="display-6 text-center"> Content:  {{ blog.content }}</p>
        </div>
    </div>
</div>

{% endblock %}