{% extends 'main/base.html' %}





{% block title %}   Read Post  {%endblock%}


{% block content %}

<section class="container">
    <h1>All blogs</h1>
    <div class="row">
        {% for blog in blogs %}

            <div class="col-4">
                <div class="d-flex flex-column gap-2 p-3 border border-1 rounded-4 shadow">
                    <h2>{{ blog.title }}</h2>
                    <h4> content:  {{blog.content}}</h4>
                    <h4>published_at: {{ blog.published_at }} </h4>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

{% endblock %}
