{% extends 'main/base.html' %}

{% block title %} All blogs {% endblock %}

{% block content %}

<section class="container pt-4">

    <h1>All blogs</h1>

    <div class="row  g-4 row-cols-1 row-cols-md-3">

        {% for blog in blogs %}

            <div class="col">
                <div class="d-flex flex-column gap-2 p-3 border border-1 rounded-4 shadow h-100">
                    <a href="{% url 'blogs:detail'  blog.id %}"><h2>{{ blog.titel }}</h2></a>
                    <h4> content:  {{blog.content}}</h4>
                    <h4>is published: {{ blog.is_published}} </h4>
                    <h4>published at: {{ blog.published_at}} </h4>
                </div>
            </div>
            


        {% endfor %}

    </div>

</section>

{% endblock %}