{% extends 'main/base.html' %}
{% load static %}
{% block title %}Read blog{% endblock %}
{% block content %}

<section class="container">
    <h1 class="text-center">All blogs</h1>
    <div class="row">

        {% for blog in blogs %}

            <div class="mt-4 col">

                <div class="d-flex flex-column gap-2 p-3 border border-1 rounded-4 shadow">
                    <img src="{{blog.poster.url}}" />
                    <a href="{% url 'blogs:detail'  blog.id %}"><h4>Title: {{blog.title}}</h4></a>
                    <h5>Content: {{blog.content}}</h5>
                    <h5>is published: {{blog.is_published}} </h5>
                    <h5>published at: {{blog.published_at}}</h5>
                </div>

            </div>

        {% endfor %}

    </div>

</section>


{% endblock %}
