{% extends 'home/base.html' %}
{% block title %}
All blogs
{% endblock %}

{% block body %}

<div class="container">
    <div class="row d-flex flex-row">
        <div class="col-10 justify-contect ">
            <div class="d-flex flex-column gap-2 border border-2 rounded-1 shadow p-1 mt-2">
                <h1> Title: {{blogs.title}}</h1>
                <img src="{{blogs.images.url}}" alt="movies" style="height: 400px;">
                <h3> Content: {{blogs.content}}</h3>
                <h4> Is published: {{blogs.is_published}}</h4>
                <h4> Publihsed at: {{blogs.published_at}}</h4>
                <h3> Location: {{ blogs.published_location }}</h3>
                <h3> Publisher name: {{ blogs.name_publisher }}</h3>
            </div>
        </div>
        <div class="col-1 dropdown-center">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Action
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'blogs:update_blogs_views' blogs.id %}">Edit</a></li>
              <li><a class="dropdown-item" href="{% url 'blogs:delete_blogs_views' blogs.id %}">Delete</a></li>
            </ul>
        </div>
    </div>
    <hr class="mt-2">
    {% for n in commento %}
    <div class="row p-2">
        <div class="col border-2 border">
            <h1>Name:{{n.name}}</h1>
            <h3>Rating: {{n.rating}}</h3>
            <h5>Comment:</h5>
            <h6>{{n.content}}</h6>
        </div> 
    </div>
    {% endfor %}
    <hr class="mt-2">
    <div class="row">
        <div class="col-6">
            <form class="form-control " action="{% url 'blogs:show_blogs_detils_view' blogs.id %}" method="POST">
                {% csrf_token %}
                <h2>Review Section</h2>
                <div class="d-flex flex-column m-2 gap-2">
                    <label>Name:</label>
                    <input type="text" name="name" class="form-control" placeholder="full name">

                    <label>Rating:</label>
                    <select name="rating" class="form-control">
                        {% for key, value in rating %}
                        <option value="{{key}}">{{value}}</option>
                        {% endfor %}
                    </select>

                    <label>Content:</label>
                    <textarea name="content" class="form-control" placeholder="enter a review"></textarea>
                    <input type="submit" class="btn btn-outline-success">
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}