{% extends 'home/base.html' %}
{% block title %}
Add blogs
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="d-flex flex-column">
                <form action="{% url 'blogs:update_blogs_views' blogs.id %}" method="POST">
                    {% csrf_token %}
                    <h1> Add Blogs </h1>

                    <label> Title: </label>
                    <input class="form-control" type="text" placeholder="Enter title here ..." name="title" value="{{blogs.title}}">

                    <label> Publisher Name: </label>
                    <input class="form-control" type="text" placeholder="Enter title here ..." name="name_publisher" value="{{blogs.name_publisher}}">

                    <label> Location </label>
                    <select name="published_location" class="form-control">
                        <option value="Riyadh" {% if blogs.is_published == 'Riyadh' %} selected {% endfor %}>Riyadh</option>
                        <option value="Rafha" {% if blogs.is_published == 'Rafha' %} selected {% endfor %}>Rafha</option>
                    </select>

                    <label> Content: </label>
                    <textarea name="content" class="form-control">{{blogs.content}}</textarea>

                    <label> Is published: </label>
                    <select name="is_published" class="form-control">
                        <option value="True" {% if blogs.is_published == 'True' %} selected {% endfor %}>True</option>
                        <option value="False" {% if blogs.is_published == 'False' %} selected {% endfor %}>False</option>
                    </select>

                    <label>published at: </label>
                    <input class="form-control mt-2" type="datetime-local" name="published_at" value="blogs.published_at|Date:'Y-m-d' H-i-s">
                    <input type="submit" class="btn btn-primary mt-2" value="craete blogs">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}