<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="/static/css/main.css" rel="stylesheet" />

    <title> {% block title %} Tourist {% endblock %} </title>
</head>

<body>
    <nav>
        <a href="{% url 'main:add_blog' %}"> Add Blog </a>
        <a href="{% url 'main:read_blog' %}"> Read Blogs </a>
    </nav>

    {% block content %}

    {% endblock %}

</body>

</html>