{% extends 'main/base.html' %}
{% load static %}


{% block content %}
<div class="container">

    <div class="row mt-3">
        <div class="col-12 col-md-6 order-2 order-md-1">
            <div class="d-flex flex-column gap-2 h-100 justify-content-center align-items-start">
                <h2>Welcome to Sport Blog</h2>
                <p>The best sport blog for ever </p>
            </div>
        </div>
        <div class="col order-1 order-md-2 ">
            <img class="w-100 rounded-5" src="https://static1.squarespace.com/static/58ee0b551e5b6c8ff18b94ad/58ee41fa414fb5fa31858382/64e39316d7a74959641bf599/1697787096927/individual+sports+%282%29+%281%29.jpg?format=1500w" />
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col">
            <h3>something about sport</h3>
        </div>

    </div>

</div>
{% endblock %}